body {
	background-color: white;
}

#NAVIGATION {
	position: fixed;
	text-align: center;
	background-color: black;
	width: 100%;
	top: 0px;
	right: 0px;
	left: 0px;
	color: white;
}

td a:hover {
	background-color: white;
	color: black;
}

h2 {
	font-family: Arial;
}

ol li {
	font-family: Century;
	font-size: 1em;
}

p {
	display: inline-block;
	content: 5px 5px 5px 5px;
}